body {
    color: #415161;
}

main {
    background: rgb(224, 224, 224);
    background: linear-gradient(90deg, rgba(239, 239, 239, 1) 11%, rgba(217, 239, 251, 1) 50%, rgba(239, 239, 239, 1) 90%);
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    color: white;
    background-color: #415161;
}

footer #top {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: khaki; */
}

footer #top>h3 {
    margin-top: 50px;
    /* background-color: lawngreen; */
}

footer #top>nav {
    width: 350px;
    display: flex;
    justify-content: space-between;
    margin: 50px 0 45.16px 0;
    /* background-color: rosybrown; */
}

footer #top>nav>a {
    font-family: Helvetica;
    font-size: 18px;
    line-height: 26px;
    color: white;
    cursor: pointer;
}

footer #line {
    width: 75vw;
    height: 0.98px;
    background: #FFFFFF;
}

footer #bottom {
    width: 75vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 25px 0 23px 0;
    /* background-color: burlywood; */
}

footer #bottom>p {
    font-family: 'Manrope', Helvetica;
    font-size: 14px;
    line-height: 24px;
}

footer #contact-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* background-color: saddlebrown; */
}

footer #contact-container>address {
    display: flex;
    margin-right: 40px;
    /* background-color: greenyellow; */
}

footer #contact-container>address>a {
    color: white;
    display: flex;
    font-family: Helvetica;
    font-weight: lighter;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}

footer #contact-container>address>a>img {
    margin-right: 8px;
}

footer .social-container {
    margin: 0;
}

footer .social-container>a {
    width: 24px;
    height: 24px;
    background-color: #cecece21;
}

h1,
h2,
h3 {
    font-family: 'Poppins', Helvetica;
}

h1 {
    font-size: 64px;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 24px;
}

p {
    font-size: 18px;
    font-family: Helvetica;
}

button:focus {
    outline: none;
}

button>a,
button>a:hover {
    color: white;
}

a:hover {
    text-decoration: none;
}

/* navbar CSS */
.navbar-nav .nav-item .nav-link {
    color: #415161;
    font-size: 15px;
    line-height: 20px;
    font-family: Helvetica;
}

.navbar .navbar-brand {
    color: #415161;
    font-family: 'Poppins', Helvetica;
    font-weight: 800;
    line-height: 96px;
}

.navbar .navbar-brand:hover {
    color: #415161;
}

.social-container {
    display: flex;
    margin: 10px 165px 0 0;
    /* background-color: sandybrown; */
}

.social-container>a {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #cececeb9;
}

.social-container>a:nth-child(1),
.social-container>a:nth-child(2) {
    margin-right: 14px;
}

/* mission statement CSS */
#mission {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: hotpink; */
}

#mission>h1 {
    width: 65vw;
    font-weight: 800;
    line-height: 96px;
    text-align: center;
    margin-top: 129px;
    /* background-color: lightskyblue; */
}

#mission>p {
    text-align: center;
    margin-bottom: 40px;
}

/* how it all started CSS */
#how-it-started {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: darksalmon; */
}

#how-it-started>h2 {
    font-weight: 600;
    line-height: 72px;
}

#how-it-started>p {
    width: 45vw;
    line-height: 48px;
    text-align: center;
    /* background-color: darkseagreen; */
}

/* team CSS */
#team {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: lightskyblue; */
}

#team>img {
    border: 3px solid #000000;
    box-sizing: border-box;
    border-radius: 20px;
    margin: 40px 0 6px 0;
    box-shadow: 10px 10px #415161,
        10px 10px 0 3px black;
}

#team>h3 {
    font-weight: 600;
    line-height: 36px;
    margin-top: 10px;
}

#team>p {
    font-weight: lighter;
    line-height: 29.53px;
    text-transform: uppercase;
}

/* core values CSS */
#values {
    background-color: #FFFFFF4D;
}

#values>h2 {
    line-height: 64px;
    text-align: center;
    padding-top: 93px;
}

#values-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 32px;
    /* background-color: green; */
}

.value {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 16px
        /* background-color: mintcream; */
}

.value>h3 {
    font-weight: 500;
    margin: 8px 0 4px 0;
}

.value>p {
    width: 318px;
    line-height: 26px;
    text-align: center;
    /* background-color: moccasin; */
}

#band-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 100px;
    overflow-x: hidden;
}

/* get in touch section CSS */
#touch {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF4D;
}

#touch>h2 {
    text-align: center;
    margin: 90px 0 40px 0;
}

.touch-btn {
    width: 154px;
    height: 68px;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 18px;
    font-weight: bold;
    font-family: Helvetica;
    line-height: 36px;
    cursor: pointer;
    margin-bottom: 90px;
    background-color: #415161;
}

/* responsive CSS */
@media (max-width: 780px) {
    h1 {
        font-size: 46px;
    }

    h2 {
        font-size: 30px;
    }

    footer #bottom {
        justify-content: center;
    }

    footer #contact-container {
        flex-direction: column;
        align-items: center;
    }

    footer #contact-container>address {
        margin-right: 0;
    }

    #mission>h1 {
        width: 90vw;
    }

    #mission>p {
        width: 80vw;
    }

    #how-it-started>p {
        width: 75vw;
    }

    #touch>h2 {
        font-size: 28px;
    }
}